{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-sm-9 col-sm-offset-3 col-lg-12 col-lg-offset-4 main">
            <div class="centered_panel">
                <div class="row">
                    <div class="col-md-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Page d'accueil
                            </div>
<p>
                                Bienvenue sur le site EasyStage, cette application a été conçue
                                pour faciliter la mise en relation des élèves de 3ème à la recherche d'un stage
                                avec les entreprises qui ont déjà pris ou prendront des stagiaires.

    {{ date }}
                            </p>

                            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path('login') }}">Connexion</a>
                                <a href="{{ path('inscription') }}">Inscription</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
