{% extends 'base.html.twig' %}



{% block body %}

    <div class="col-sm-9 col-sm-offset-3 col-lg-15 col-lg-offset-2 main">
        <div class="centered_panel">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Liste de tous les utilisateurs
                        </div>
                        <div class="panel-body">
                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Login</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Roles</th>
                                    <th>Est actif ? </th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.login }}</td>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.lastname }}</td>
                                        <td>
                                        {% for role in user.roles %}
                                        {{ role }}
                                        {% endfor %}
                                        </td>
                                        <td>{% if user.isActive == 1 %}Oui{% else %}Non{% endif %}</td>
                                        <td><a href="{{ path('user_edit', {'id': user.id}) }}"><span class="fa fa-refresh"></span></a></td>
                                        <td><a href="{{ path('adminDeleteUser', {'id': user.id}) }}"><span class="fa fa-remove"></span></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
