{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-4 main">
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Ajouter une entreprise

                        <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                                    class="fa fa-toggle-up"></em></span></div>
                    <div class="panel-body">

                        {{ form_start(form) }}


                        <div class="form-group">
                            {{ form_label(form.name) }}
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name,{'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.city) }}
                            {{ form_errors(form.city) }}
                            {{ form_widget(form.city,{'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.postal_code) }}
                            {{ form_errors(form.postal_code) }}
                            {{ form_widget(form.postal_code,{'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.address) }}
                            {{ form_errors(form.address) }}
                            {{ form_widget(form.address,{'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.mail) }}
                            {{ form_errors(form.mail) }}
                            {{ form_widget(form.mail,{'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.mobile_phone) }}
                            {{ form_errors(form.mobile_phone) }}
                            {{ form_widget(form.mobile_phone,{'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.activity) }}
                            {{ form_errors(form.activity) }}
                            {{ form_widget(form.activity,{'attr': {'class': 'form-control'}}) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div>
    </div{% endblock %}