{% extends 'base.html.twig' %}



{% block body %}

    <div class="col-sm-9 col-sm-offset-3 col-lg-15 col-lg-offset-2 main">
        <div class="centered_panel">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Liste de toutes les entreprises
                        </div>
                        <div class="panel-body">
                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Ville</th>
                                    <th>Adresse</th>
                                    <th>Code postal</th>
                                    <th>Mail</th>
                                    <th>Téléphone portable</th>
                                    <th>Activité</th>
                                    <th>Est active ?</th>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for company in companies %}
                                    <tr>
                                        <td>{{ company.name }}</td>
                                        <td>{{ company.city }}</td>
                                        <td>{{ company.address }}</td>
                                        <td>{{ company.postalCode }}</td>
                                        <td>{{ company.mail }}</td>
                                        <td>{{ company.mobilePhone }}</td>
                                        <td>{{ company.activity }}</td>
                                        <td>{% if company.isActive == 1 %}yes{% else %}no{% endif %}</td>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <td><a class="" href="{{ path('company_edit', {'id': company.id}) }}"><span class="fa fa-edit">&nbsp;</span></a></td>
                                        <td><a class="" href="{{ path('company_delete', {'id': company.id}) }}"><span class="fa fa-trash">&nbsp;</span></a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                            <a class="" href="{{ path('add_company') }}">
                                <span class="fa fa-arrow-right">&nbsp;</span> Add a Company
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
