{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-sm-9 col-sm-offset-3 col-lg-15 col-lg-offset-2 main">
        <div class="centered_panel">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    {% if is_granted('ROLE_PROFESSOR') and stage.professeur is null %}
                    Devenir référent<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>

                    {{ form_start(form) }}
                    Voulez vous devenir professeur référent de l'élève {{ stage.eleve.name }} {{ stage.eleve.lastname }} pour son stage
                    dans l'entreprise {{ stage.company.name }} ?
                    {{ form_errors(form.Professeur) }}
                    {{ form_widget(form.Professeur,{'attr': {'class': 'hidden'}}) }}
                    {{ form_end(form) }}
                    {% else %}
                    Erreur, vous ne pouvez pas accéder à cette page.
                    {% endif %}
                </div>
            </div>
        </div><!--/.row-->
    </div>
    </div>
{% endblock %}