{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="col-sm-9 col-sm-offset-3 col-lg-12 col-lg-offset-4 main">
            <div class="centered_panel">
                <div class="row">
                    <div class="col-md-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Profile
                            </div>
                            <table class="table table-bordered">
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ data.name }}</td>
                                </tr>
                                <tr>
                                    <th>Prenom</th>
                                    <td>{{ data.lastname }}</td>
                                </tr>
                                <tr>
                                    <th>Login</th>
                                    <td>{{ data.login }}</td>
                                </tr>

                            </table>
                            <br/>
                            <br/>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-12 col-lg-offset-3 main">
                                    <button type="button" class="btn btn-light"><a href="{{ path('update_password') }}">Changer de mot de passe</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            </div>

        </div>
    </div>


{% endblock %}
