{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-sm-9 col-sm-offset-3 col-lg-15 col-lg-offset-2 main">
        <div class="centered_panel">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% if is_granted('ROLE_PROFESSOR') %}
                            Elève sans stage</div>

                        <table id="example" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>Login</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Est actif ? </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.login }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.lastname }} </td>
                                    <td>{{ user.isActive}} </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}