{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="col-sm-9 col-sm-offset-3 col-lg-12 col-lg-offset-4 main">
            <div class="centered_panel">
                <div class="row">
                    <div class="col-md-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Changer de mot de passe
                            </div>
                                <div class="panel-body">
                                    {{ form_start(form) }}
                                    <div class="form-group">
                                        {{ form_label(form.old_password) }}
                                        {{ form_errors(form.old_password) }}
                                        {{ form_widget(form.old_password,
                                            {'attr': {'class': 'form-control'}}
                                        )}}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.new_password) }}
                                        {{ form_errors(form.new_password) }}
                                        {{ form_widget(form.new_password,
                                            {'attr': {'class': 'form-control'}}
                                        )}}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.sec_new_password) }}
                                        {{ form_errors(form.sec_new_password) }}
                                        {{ form_widget(form.sec_new_password,
                                            {'attr': {'class': 'form-control'}}
                                        )}}
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>


                        </div>
                    </div>
                </div><!--/.row-->
            </div>

        </div>
    </div>
{% endblock %}